<div class="container-fluid 100vh">
  <div class="row h-100">
    <!-- Left side with image and description (40%) -->
    <div class="col-md-4 left-side d-flex flex-column justify-content-between">
      <div class="card"> <div class="frame">
      <img src="../../assets/cloud logo.svg" alt="Company Logo" class="logo-img">
      <div class="text">
        <h5>Procurement</h5>
        <h5><p>&nbsp;&nbsp;&nbsp;Solution</p></h5>
      </div>
      </div>
      <div class="dashboard-img-wrapper">
        <img src="../../assets/colud.svg" alt="Dashboard Image" class="dashboard-img">
      </div>
    </div>
     
    </div>

    <!-- Right side (60%) -->

    <div class="col-md-8 right-side d-flex justify-content-center align-items-center" style="background-color: white">
      <div class="login-box">
        <img src="../../assets/login logo.svg" class="gPrism-cart">
        <p class="text-center">AD Login</p>
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
          <div class="form-group">
            <label for="email" class="form-label">Email ID</label>
            <input type="email" class="form-control-underline" id="email" placeholder="Enter here" formControlName="email">
            <small *ngIf="email.invalid && (email.dirty || email.touched)" clas>
              <div *ngIf="email.errors?.['required']">Email is Required</div>
              <div *ngIf="email.errors?.['email']">Email should be valid</div>
            </small>
        
          </div>
          
          <div class="form-group">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <input type="password" class="form-control-underline" id="password" [type]="passwordFieldType" placeholder="Enter here" formControlName="password">
              <small
              *ngIf="password.invalid && (password.dirty || password.touched)"
              class="block p-errors"
            >
              <div *ngIf="password.errors?.['required']">Password Required</div>
            </small>
        

              <div class="input-group-append">
                <span class="input-group-text" id="togglePassword" (click)="togglePasswordVisibility()">
                  <i [ngClass]="passwordFieldType === 'password' ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="loginError" class="error-message">
            {{loginError}}
          </div>
          

          <button type="submit">Login</button>
        </form>

        <div class="forgot-password text-center mt-3">
          <a href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
