<div style="height:calc(100vh-20px)">
<div class="container">
    <div class="form-group">
        <label>is shipment completed ?</label>
        <div class="radio-group">
          <input
            type="radio"
            id="mentor-yes"
            name="mentor-required"
            value="yes"
        
          />
          <label for="mentor-yes">Yes</label>
          <input
            type="radio"
            id="mentor-no"
            name="mentor-required"
            value="no"
        
          />
          <label for="mentor-no">No</label>
        </div>
      </div>

   
  </div> <div class="bottom-field">
      <!-- Add the button here -->
      <button (click)="navigateToMaterialService()" class="btn-submit">Update</button>
    </div>
  </div>